
body {
/*  background-color: #e2ff59;*/
  font-family: courier;
   background: linear-gradient(white, #CBC3E3);
   
}

.wrapper {
  margin: 0 auto;
  max-width: 600px;
}

h1, h2 {
  font-weight: normal;
  text-align: center;
}

h1 {
  font-size: 9vw;
  line-height: 1.1;
  font-family: 'Yatra One', cursive;
  margin-bottom: 0;
}

h2 {
  font-size: 20px;
}

h3 {
  font-weight: normal;
  font-size: 12px;
  text-align: left;
}

.about {
  position: absolute;
  width: 350px;
  top: 10%;
  right: 2%;
  display: none;
}

.heading:hover ~ .about {
  display: block;
}

.metro {
  text-align: center;
  padding: 50px;
}
.box {
  display: flex;
  justify-content: space-between;
}