body{
 font-family: sans-serif;
  text-align: center;
  background: #d3d3d3;
}

h1{
  color: black;
  font-size: 3em;
  letter-spacing:1px;
}

p{
  color: #EEE;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*
.Grid{
  display: flex;  
  margin: 0px auto;
  width: 650px;
  flex-wrap: wrap;
  grid-gap: 5px;
}*/


.Grid__box{
  background: url(imgs/antique.jpg);
  background-size: contain;
  
  height: 600px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cycle{
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  transparent: 80px;rgba(255,255,255,0.75) 90px
  background: transparent;

  border: 2800px #ffffff solid;
  border-radius: 20000px;
}


.cycle:hover{
  opacity: 1;
  left: auto;
}


h4{
  color: black;
  font-size: 3em;
  letter-spacing:1px;
  cursor: url(imgs/moon-emoji.png), auto;
  z-index: 99;
  background-color: white;
}







button{
   color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.2);
  background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    z-index: 98;  
}

.button1{
  position:fixed;
}

.button2{
  position:fixed;
  margin: 50px;
}

h2{
  font-size:50px;
  margin: -5px
}

.findmoon {
    position:absolute;
    background:white;
    bottom:0;
    left:0;
    width: 300px;
    cursor: url(imgs/moon-emoji.png), auto;
    color: black;
    text-align: left;
    bottom: 0%;
    font-size: 40px;
    line-height: 2;
    z-index: 99;

}

.foundmoon {
    position:absolute;
    background:white;
    bottom:0;
    left:0;
    width: 350px;
    cursor: url(imgs/moon-emoji.png), auto;
    color: black;
    text-align: left;
    bottom: 0%;
    font-size: 40px;
    line-height: 2;
    z-index: 99;

}

 button:hover .foundmoon {
  display:block;}

.foundmoon {
  display:none;}

button:hover ~  .foundmoon {
  display:block;}
  
button:hover ~  .findmoon {
  display:none;}

/*.Grid__box .a button:hover ~  .cycle {
  border: 100px #000000 solid}*/







/*
.buttonmoon {
  z-index: 99;
  background:rgba(0,0,0,0);
  width:50px;
  height:50px;
  text-align:center;
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  

}
*/






div.concave {
    bottom: 0%;
    height:350px;
    position:relative;
}

div.concave-background {
  bottom: 0%;
    height:350px;
    position:relative;
}


.botleftconcave {
    position:absolute;
    background:white;
    width:450px;
    height:130px;
    bottom:0;
    left:0;
} 

.botleftconcave {
  cursor: url(imgs/moon-emoji.png), auto;
}

.title {
    color: black;
    text-align: left;
    bottom: 0%;
    font-size: 20px;
    line-height: 1.4;
    z-index: 1;
   
}


.antique{
  display: block;
  position:absolute;
  left: 70px;
  margin-top: 30px;
  display: block;
}




