body{
 font-family: sans-serif;
  text-align: center;
  background: #d3d3d3;
}


p{
  color: #C0C0C0;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*
.Grid{ #FF5733
  display: flex;  
  margin: 0px auto;
  width: 650px;
  flex-wrap: wrap;
  grid-gap: 5px;
}*/


.Grid__box{
  background: url(imgs/antique.jpg);
  background-size: contain;
  
  height: 600px;

  margin: -9px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cycle{
  position: absolute;
  display: block;
  width: 120px;
  height: 120px;
  transparent: 80px,rgba(255,255,255,0.75),90px;
  background: transparent;

  border: 2800px #ffffff solid;
  border-radius: 20000px;
}


.cycle:hover{
  opacity: 1;
  left: auto;
}


h4{
  color: black;
  font-size: 3em;
  letter-spacing:1px;
  cursor: url(imgs/emoji-67px.png), auto;
  z-index: 99;
  background-color: white;
}


.en-quote{
  position: absolute;
  right: 34%;
  top: 30%;
  width: 180px;
  z-index: 99;
}

.full-moon{

}

.night {
  color: #C0C0C0;
  cursor: pointer;
}

.night:hover {
  color: #EEE;}

.date {
  position: fixed;
  text-align: right;
  right: 1%;
  top: 1%;
  font-size: 30px;
  opacity: 1;
  color: black;
  z-index: 99;
  /*-webkit-transition: all .5s ease-in-out;*/
  background: linear-gradient(to right, darkblue,slategrey,lightgrey,yellow);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  color:rgba(0,0,0,1);
  transition: color 3s ease-in-out;
}

.en-quote:hover .date {
/*  opacity: 1;*/
  color:rgba(0,0,0,0);
  }


.date:hover{
  
}
@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}


.cn-quote {
  position: fixed;
  text-align: left;
  right: 1%;
  font-size: 20px;
  writing-mode: vertical-lr;
  letter-spacing: 5px;
  color: black;
  z-index: 99;
}


button{
   color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.2);
  background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    z-index: 98;  
}

.button1{
  position:absolute;
  margin-top: -200px;
  margin-left: -30px;
}

/*.button2{
  position:absolute;
  margin: 50px;
}*/

h2{
  font-size:65px;
  margin: -5px
}

.findmoon {
    position:fixed;
    background:white;
    bottom:0;
    left:0;
    padding-left: 20px;
    width: 620px;
    cursor: url(imgs/emoji-67px.png), auto;
    color: black;
    text-align: left;
    bottom: 0%;
    font-size: 85px;
    line-height: 1.2;
    z-index: 99;
}

.foundmoon {
    position:fixed;
    background:white;
    bottom:0;
    left:0;
    padding-left: 20px;
    width: 680px;
    cursor: url(imgs/emoji-67px.png), auto;
    color: black;
    text-align: left;
    bottom: 0%;
    font-size: 85px;
    line-height: 1.2;
    z-index: 99;
}

 button:hover .foundmoon {
  display:block;}

.foundmoon {
  display:none;}

button:hover ~  .foundmoon {
  display:block;}
  
button:hover ~  .findmoon {
  display:none;}

/*.Grid__box .a button:hover ~  .cycle {
  border: 100px #000000 solid}*/







/*
.buttonmoon {
  z-index: 99;
  background:rgba(0,0,0,0);
  width:50px;
  height:50px;
  text-align:center;
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  

}
*/






div.concave {
    bottom: 0%;
    height:350px;
    position:relative;
}

div.concave-background {
  bottom: 0%;
    height:350px;
    position:relative;
}


.botleftconcave {
    position:absolute;
    background:white;
    width:450px;
    height:130px;
    bottom:0;
    left:0;
} 

.botleftconcave {
  cursor: url(imgs/emoji-67px.png), auto;
}

.title {
    color: black;
    text-align: left;
    bottom: 0%;
    font-size: 20px;
    line-height: 1.4;
    z-index: 1;
   
}


.antique{
  display: block;
  position:absolute;
  left: 70px;
  margin-top: 30px;
  display: block;
}





