body{
 font-family: sans-serif;
  text-align: center;
  background: #d3d3d3;
}


p{
  color: #C0C0C0;
  margin-top: 0px;
  margin-bottom: 0px;
}


.Grid{ 
  position: relative;
}


.Grid__box{
  position: fixed;
  background: url(imgs/moon-background.png);

  background-size: cover;
  
height: 1510px;

  margin: -9px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cycle{
  position: absolute;
  display: block;
  width: 120px;
  height: 120px;
  box-shadow: inset 0 3px 10px #ffffff;
  background: transparent;

  border: 2800px #ffffff solid;
  border-radius: 20000px;
}

.cycle:hover{
  opacity: 1;
  left: auto;
}



.en-quote{
  position: absolute;
  right: 34%;
  top: 30%;
  width: 180px;
  z-index: 99;
}

.full-moon{
}

.night {
  color: #C0C0C0;
  cursor: pointer;
}

.night:hover {
  color: #EEE;}

.date {
  position: fixed;
  text-align: right;
  right: 1%;
  top: 1%;
  font-size: 34px;
  opacity: 1;
  color: black;
  z-index: 99;
  /*-webkit-transition: all .5s ease-in-out;*/
  background: linear-gradient(to left, darkblue,slategrey,lightgrey,yellow);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  color:rgba(0,0,0,1);
  transition: color 2s ease-in-out;
}

.en-quote:hover .date {
  color:rgba(0,0,0,0);
  }



@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}

.cn-quote {
  position: fixed;
  text-align: left;
  right: 1%;
  top: 29%;
  font-size: 23px;
  writing-mode: vertical-lr;
  letter-spacing: 5px;
  color: black;
  z-index: 99;
}

.extend1 .extend2 .extend3{
  letter-spacing: 5px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
  cursor: pointer
  z-index: 99;
}

.extend2 {
  letter-spacing: 5px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
  cursor: pointer
  z-index: 99;
}

.extend3 {
  letter-spacing: 5px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
  cursor: pointer
  z-index: 99;
}

.extend1:hover {
  letter-spacing: 10px; 
  filter: blur(1px);
}

.extend1:hover .extend2{
  letter-spacing: 18px; 
  filter: blur(1px);
}

.extend1:hover .extend3{
  letter-spacing: 21px; 
  filter: blur(2px);
}



h2{
  font-size:65px;
  margin: -5px
}

button{
   color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.2);
  background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    z-index: 98;  
}



.button1 {
  position:absolute;
  top: 280px;
  left: 947px;
}

.button2 {
  position:absolute;
  top: 490px;
  left: 321px;
}


.button-date3 {
  position:absolute;
  margin-top: -150px;
  margin-left: -50px;
}


/*.button-date1:hover .date{
   -webkit-transform: rotate(45deg);
  -webkit-transition: all 1s ease-in-out;;}*/



.findmoon {
    position:fixed;
    background:white;
    left:0;
    width: 620px;
    cursor: url(imgs/emoji-50.png), auto;
    color: black;
    text-align: left;
    bottom: 0%;
    font-size: 85px;
    z-index: 99;
}

.foundmoon {
    position:fixed;
    background:white;
    left:0;
    
    
    width: 680px;
    cursor: url(imgs/emoji-50.png), auto;
    color: black;
    text-align: left;
    bottom: 0%;
    font-size: 85px;
    
    z-index: 99;
}

 button:hover .foundmoon {
  display:block;}

.foundmoon {
  display:none;}

button:hover ~  .foundmoon {
  display:block;}
  
button:hover ~  .findmoon {
  display:none;}








/*
.buttonmoon {
  z-index: 99;
  background:rgba(0,0,0,0);
  width:50px;
  height:50px;
  text-align:center;
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  

}
*/






div.concave {
    bottom: 0%;
    height:350px;
    position:relative;
}

div.concave-background {
  bottom: 0%;
    height:350px;
    position:relative;
}


.botleftconcave {
    position:absolute;
    background:white;
    width:450px;
    height:130px;
    bottom:0;
    left:0;
} 

.botleftconcave {
  cursor: url(imgs/emoji-67px.png), auto;
}

.title {
    color: black;
    text-align: left;
    bottom: 0%;
    font-size: 20px;
    line-height: 1.4;
    z-index: 1;
   
}


.antique{
  display: block;
  position:absolute;
  left: 70px;
  margin-top: 30px;
  display: block;
}





