
body {
  background: rgb(126,123,142);
  background: linear-gradient(180deg, rgba(126,123,142,1) 24%, rgba(73,104,150,1) 100%);
  color:  white;
  font-family: arial;
  overflow-x: hidden;
}

.bodyNight {
  background: linear-gradient(#ff933a,#ffe072); 
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.blob {
      position: absolute;
      width: 220px;
      height: 200px;
      opacity: 85%;
      background: rgb(255,255,197);
      background: radial-gradient(circle, rgba(255,255,197,1) 49%, rgba(255,150,54,1) 100%);
      border-radius: 50%;
      mix-blend-mode:screen;
      /*filter: blur(8px);*/
       animation: spin 4s linear infinite;
}

.blobNight {
      position: absolute;
      width: 220px;
      height: 200px;
      opacity: 90%;
      background: darkgray;
      border-radius: 50%;
      mix-blend-mode:multiply;
      /*filter: blur(8px);*/
       animation: spin 4s linear infinite;
}


@-webkit-keyframes spin{
    0%{
        -webkit-filter:blur(5px);
        -webkit-transform:scale(1);
        -webkit-transform:rotateZ(0deg);
        transform: rotate(90deg) rotate(-90deg);
    }

    25%{
        -webkit-transform:scale(0.95);
        -webkit-filter:blur(7px);
         transform:translate(0px,10px);
    }
    50%{

        -webkit-filter:blur(7px);
         transform:translate(30px,30px) ;
        
    }
    75%{
        
        -webkit-filter:blur(7px);
         transform:translate(15px,-5px) ;
    }

    100%{
        -webkit-filter:blur(5px);
        -webkit-transform:rotateZ(360deg);
      /*  transform: rotate(0deg) translate(0px) rotate(0);*/
    }
}
